/*
===================
header
===================
*/

.header-nav-1 {
    background-color: #f7220f;
}

.logo img {
    width: 130px;
}

.rounded-pill {
    background-color: #fae41c;
}

.btn {
    font-family: sans-serif Helvetica;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    Color: #252525
}

/*  */
.main img{
    width: 100%;
}

h1{
    font-size: 20px;  
    font-weight: bold;  
}
h1 a{
    color: #000;
    font-weight: bold;  
}
h2{
    font-size: 16px;
    font-weight: bold;  
}

h2 a{
    color: #000;
    font-weight: bold;  
}

h3{
    font-size: 14px;
}

p{
    font-size: 14px;
}

.featured-stories figure{
    position: relative;
}

.featured-stories h2
{
    position: absolute;
    left: 0;
    bottom: 0;
   margin: 0;
}

figure{
    position: relative;
}

.article-category {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    background: #e6e6e6;
    padding: 5px;
    color: #5097ef;
    font-weight: bold;
}

.article-category a{
    color: red;
    
}

.opinion img, .the-debate img{
    width: 60px;
    height: 60px;
}

.rounded-circle{
    margin-top: 4px;
}
.n-logo {
    background-color: #e9280f;
}
.magazine img {
    width: 100%;
}
.text-center {
    background-color: #f5eeee;
}
.text-center:hover {
    background-color: #e6e0e0;
}
.text-center a:hover {
    color: #000;
    text-decoration: none;
}
.mag-img-info h1{
    background-color:#e9280f;
    font-size: 13px;
}

.mag-img-info h2{
    font-size: 13px;
}
.mag-img-info a {
color: #e9280f;

}
.mag-img-info a:hover {
    text-decoration: none;
}
.mag-info a {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}


.aside-img{
    width: 40%;
    height: fit-content;          
}   
.aside-text {
    width: 60%;
    padding-left: 14px;
}

.subscribe-1 {
    background-color: #f4f4f5;
}
.subscribe-1 img{
    width: 180px;    
}
.subscribe-1 .position-absolute{
    z-index: 0;
    left: 85px;
    top: 37px;
}

.subscribe-info h1{
    z-index: 10;
    background: none;
    margin-top: -15px;
}

.footer-nw-logo img{
    width: 200px;
}
.footer-social-icons{
    margin-left:auto;
}
.footer-social-icons a{
    font-size: 24px;
    padding: 3px;  
    text-decoration: none;  
    color: gray;
}

.footer-links a{
    padding-right: 12px;
    text-decoration: none;
    color: gray;
}


.order-md-4 {
    -ms-flex-order: 4;
    order: 4;
    margin-top: -100rem;
}

@media screen and (min-width: 768px) {
    .order-md-4 {
        -ms-flex-order: 4;
        order: 4;
        margin-top: -100rem;
    }

    .col-md-2{
        margin-right: -14px;
    }
    .ranking-and-sponsored{
        display: flex;
        justify-content: center;
    }
    .ranking-and-sponsored div{
        width: 30%;
    }

    .subscribe-info {
        align-items: initial;
    }
    
}


@media screen and (min-width: 992px) {
 .logo img{
     width: 350px;
 }

.skew {   
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 15%;
    width: 95%;
    transform: skewX(30deg);
    margin-left: -2rem;
    overflow: hidden;
}

.header-nav-2 a:hover{
    color: #e9280f;
    text-decoration: none;
}

.header-nav-2-ul-1 li{
    padding: 6px;    
}

.header-nav-2-ul-1 a{
    color: #000;
    font-weight: bold;
}

.header-nav-2-ul-2 li{
    padding: 0px;
    font-size: 13px;
}

.header-nav-2-ul-2 a{
    padding: 7px;
    font-size: 13px;
}

.nav-link{
    color: rgb(139, 136, 136);
}


.middle-sections-wrapper{        
    margin-top: -1550px; 
}

.top-story, .middle-sections-wrapper{
    margin-left: 42px;
    margin-right: 42px; 
    
}

.top-story img{
    width: 100%;
}

.featured-stories, .grow{
    margin-right: -10px;
}

.ranking-and-sponsored{
    margin-top: -620px;    
}

.ranking-and-sponsored div{
    width: 100%;
}


.aside-img{
    width: 40%;          
}   

.aside-text {
    width: 60%;        
}

.newsletter img{
    height: 287px;
    object-fit: cover;
}
}

@media screen and (min-width: 1193px) {
    .header-nav-2-ul-1 a, .header-nav-2-ul-1 li{
        font-size: 18px;
        padding: 6px;
    }
       
    .header-nav-2-ul-2 a, .header-nav-2-ul-2 li{         
        font-size: 14px;
        padding-right: 10px;
    }
}